/* --------------------------- ALL PAGES  --------------------------- */


/* Sticky footer styles */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Vertically center the text there */
    line-height: 60px;
    padding: 0;
}


/* Other Elements  */

.container {
    width: 65%;
}

#nameblock {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.06em;
    display: inline-block;
    padding: 15px 40px;
    background: linear-gradient(to top, #f80000, #fe8c00);
}

.navbar {
    padding: 0 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#nav-link:hover {
    color: #fe8c00;
}

body::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #f80000, #fe8c00);
    position: absolute;
    top: 65px;
    z-index: 1;
}

body {
    background-image: url("../images/dark_mosaic/dark_mosaic.png");
    background-size: 20%;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: #6f7984;
}

body::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #fe8c00, #f80000);
    position: absolute;
    bottom: 60px;
    z-index: 1;
}

h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: #5a5959;
}

.card {
    padding: 20px;
}

.footer span {
    font-size: 0.6em;
    color: #c0cad1;
}

.connect {
    min-width: 30px;
}

.connect:hover {
    box-shadow: 0 1px 5px #6f7984;
    transition: 0.1s;
}


/* --------------------------- ABOUT PAGE  --------------------------- */

#biophoto {
    width: 30%;
    min-width: 150px;
    float: left;
}

p {
    line-height: 2em;
    margin-bottom: 1.5em;
    font-size: 0.9em;
}


/* --------------------------- PORTFOLIO PAGE  --------------------------- */

.project-card {
    padding: 0;
    max-width: 18rem;
}

.project-card-body {
    padding: 0.2rem 1rem;
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
}

a:hover {
    text-decoration: none;
}

.project-card:hover {
    box-shadow: 0 2px 8px #6f7984;
    transition: 0.1s;
    background: linear-gradient(to right, #f80000, #fe8c00);
}

.project-card-body:active {
    background: #9b0000;
}


/* --------------------------- CONTACT PAGE  --------------------------- */

.form-control:focus {
    outline: none;
    border: 1px solid #f80000;
    box-shadow: 0 0 3px #f80000;
    transition: 0.1s;
}

#submit {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 100%;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
}

#submit:hover {
    background: linear-gradient(to top, #f80000, #fe8c00);
    transition: 0.1s;
    border: none
}

#submit:active {
    background: linear-gradient(to top, #fe8c00, #f80000);
    transition: 0.1s;
    border: none;
    box-shadow: none;
}

#submit:focus {
    box-shadow: none;
}