/* --------------------------- ALL PAGES  --------------------------- */


/* Sticky footer styles */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Vertically center the text there */
    line-height: 60px;
    padding: 0;
}


/* Other Elements  */

.container {
    width: 65%;
}

#nameblock {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.06em;
    display: inline-block;
    padding: 15px 40px;
    background: linear-gradient(to top, #f83600, #fe8c00);
}

.navbar {
    padding: 0 0.5rem;
}

body::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #f83600, #fe8c00);
    position: absolute;
    top: 65px;
    z-index: 1;
}

body {
    background-image: url("../images/dark_mosaic/dark_mosaic.png");
    background-size: 20%;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: #6f7984;
}

body::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #fe8c00, #f83600);
    position: absolute;
    bottom: 60px;
    z-index: 1;
}

h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: #696868;
}

.card {
    padding: 20px;
}

.footer span {
    font-size: 0.6em;
    color: #c0cad1;
}


/* --------------------------- ABOUT PAGE  --------------------------- */

#biophoto {
    width: 30%;
    min-width: 150px;
    float: left;
}

p {
    line-height: 2em;
    margin-bottom: 1.5em;
    font-size: 0.9em;
}


/* --------------------------- PORTFOLIO PAGE  --------------------------- */